.container {
  width: 28rem;
  height: 10rem;

  background-color: hsla(20, 7%, 57%, 0.829);
  border: 2px solid black;
  
  display: flex;
}
.container:hover {
  border: 2px solid white;
}
.img {
  height: auto;
  border-right: 5px solid rgb(221, 221, 221);
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 0;
  word-wrap:break-word;
  padding: 0px 5px;
}
.title {
  font-size: 1.25rem;
  padding-top: 0;
  margin-top: 10px;
  font-weight: bold;
}
.price {
  border-top: solid rgb(238, 238, 43) 2px;
  border-bottom: solid rgb(233, 233, 51) 2px;
  padding: 5px 10px;
}
.price span{
  color: rgb(2, 255, 213);
}
.button {
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: bold;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(2, 255, 213);
  transition: 0.5s;
}

@media only screen and (max-width: 915px) {
  .container {
    width: 23rem;
  }
  .img {
    width: 13rem;
  }
  .sidebar {
    font-size: 1.5rem;
  }
}


@media only screen and (max-width: 400px) {
  .container {
    width: 22rem;
    margin: 0px 20px;
  }
  .title {
    font-size: 1.1rem;
  }
}


